.login-title {
  font-size: 25px;
  font-family: "Gill";
  margin-left: 430px;
  margin-top: 50px;
}

.login-border {
  border-bottom: black solid 2px;
  position: absolute;
  width: 350px;
  white-space: nowrap;
}

.login-info {
  margin-left: 380px;
  margin-top: 25px;
  width: 1100px;
}

.name {
  margin-top: 90px;
}

.text-boxes {
  //float: left;
  margin-top: 50px;
  right: 25px;
}

.message {
  width: 529px;
  height: 199px;
  border: none;
  left: 0;
  top: 0;
}

input {
  display: block;
  margin-top: 50px;
  margin-left: 21px;
  padding-left: 21px;
  width: 529px;
  height: 60px;
  background-color: #f5f5f5;
  border: 0;
}

#submit {
  width: 100px;
  height: 40.04px;
  background-color: #3bceab;
  color: white;
  display: flex;
  align-items: center;
  margin-left: 21px;
  margin-top: 25px;
  margin-bottom: 50px;
  border-radius: 0px;
  font-size: 15px;
  font-family: Gill;
}
.modal {
  display: flex;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.bg-click {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
}

.callout {
  position: relative;
  z-index: 99;
  width: 600px;
  height: 400px;
  background-color: white;
}
