nav {
  min-height: 50px;
  background-color: #3bceab;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
}
@media (max-width: 1000px) {
  nav {
    height: 100vh;
    flex-direction: column;
  }
}

.hero {
  width: 1280px;
  height: 500px;
  margin: 0 auto;
  background-image: url(../images/teal.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 20px;
}
